body {
  margin: 40px;
}

main {
  margin: 3rem 0;
}

form > div {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#filter {
  display: block;
  overflow: auto;
  text-align: center;
  width: 100%;
}

#champions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

progress {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}

.hidden {
  display: none !important;
}
